@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CentraNo2";
    font-style: normal;
    font-weight: 400;
    src:
      url("./assets/fonts/CentraNo2-Light.otf") format("opeembedded-opentype"),
      url("./assets/fonts/CentraNo2-Light.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "CentraNo2";
    font-style: normal;
    font-weight: 500;
    src:
      url("./assets/fonts/CentraNo2-Medium.otf") format("opeembedded-opentype"),
      url("./assets/fonts/CentraNo2-Medium.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "CentraNo2";
    font-style: normal;
    font-weight: 700;
    src:
      url("./assets/fonts/CentraNo2-Bold.otf") format("opeembedded-opentype"),
      url("./assets/fonts/CentraNo2-Bold.ttf") format("truetype");
    font-display: swap;
  }
}

@layer components{
  /* typoraphy */
  .typo-regular {
    @apply text-sm font-normal leading-6;
  }
  .typo-regular-link {
    @apply text-sm font-normal leading-6 underline;
  }
  .typo-regular-strike {
    @apply text-sm font-normal leading-6 line-through;
  }
  .typo-semibold {
    @apply text-sm font-medium leading-6;
  }
  .typo-semibold-link {
    @apply text-sm font-medium leading-6 underline;
  }
  .typo-semibold-strike {
    @apply text-sm font-medium leading-6 line-through;
  }

  /* button text */
  .button-semibold {
    @apply text-sm font-bold leading-6;
  }
  .button-semibold-link {
    @apply text-sm font-bold leading-6 underline;
  }

  /* caption */
  .caption-regular {
    @apply text-sm font-normal leading-4;
  }
  .caption-regular-link {
    @apply text-sm font-normal leading-4 underline;
  }
  .caption-regular-strike {
    @apply text-sm font-normal leading-4 line-through;
  }
  .caption-semibold {
    @apply text-sm font-medium leading-4;
  }
  .caption-semibold-link {
    @apply text-sm font-medium leading-4 underline;
  }
  .caption-semibold-strike {
    @apply text-sm font-medium leading-4 line-through;
  }
}
