@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CentraNo2";
    font-style: normal;
    font-weight: 400;
    src:
      url("./assets/fonts/CentraNo2-Light.otf") format("opeembedded-opentype"),
      url("./assets/fonts/CentraNo2-Light.ttf") format("truetype");
    /* font-display: swap; */
  }
  @font-face {
    font-family: "CentraNo2";
    font-style: normal;
    font-weight: 500;
    src:
      url("./assets/fonts/CentraNo2-Medium.otf") format("opeembedded-opentype"),
      url("./assets/fonts/CentraNo2-Medium.ttf") format("truetype");
    /* font-display: swap; */
  }
  @font-face {
    font-family: "CentraNo2";
    font-style: normal;
    font-weight: 700;
    src:
      url("./assets/fonts/CentraNo2-Bold.otf") format("opeembedded-opentype"),
      url("./assets/fonts/CentraNo2-Bold.ttf") format("truetype");
    /* font-display: swap; */
  }
}

@layer components {
  /* typoraphy */
  .typo-regular {
    @apply text-sm font-normal;
  }
  .typo-regular-link {
    @apply text-sm font-normal underline;
  }
  .typo-regular-strike {
    @apply text-sm font-normal line-through;
  }
  .typo-semibold {
    @apply text-sm font-medium;
  }
  .typo-semibold-link {
    @apply font-medium underline;
  }
  .typo-semibold-strike {
    @apply font-medium line-through;
  }

  /* button text */
  .button-semibold {
    @apply font-bold;
  }
  .button-semibold-link {
    @apply font-bold underline;
  }

  /* caption */
  .caption-regular {
    @apply font-normal;
  }
  .caption-regular-link {
    @apply font-normal underline;
  }
  .caption-regular-strike {
    @apply font-normal line-through;
  }
  .caption-bold {
    @apply font-medium;
  }
  .caption-semibold {
    @apply font-bold;
  }
  .caption-semibold-link {
    @apply font-bold underline;
  }
  .caption-semibold-strike {
    @apply font-bold line-through;
  }

  /* custom style */
  .cus-button-primary {
    @apply button-semibold inline-block rounded-full bg-tertiary px-10 pb-3 pt-4 text-white transition-all duration-300 ease-in-out hover:bg-main;
  }
  .cus-button-secondary {
    @apply button-semibold inline-block rounded-3xl border border-current bg-transparent px-10 pb-2 pt-3 text-primary transition-all duration-300 ease-in-out hover:bg-tertiary hover:text-white;
  }
  .cus-btn-filter {
    @apply button-semibold min-w-[130px] bg-secondary px-5 py-3 text-center leading-none text-primary hover:bg-gray-200;
  }
  .cus-btn-pagination {
    @apply cus-btn-filter aspect-square min-w-2;
  }
  .is-active-pagination {
    @apply is-active-filter bg-main hover:bg-main;
  }
  .is-active-filter {
    @apply bg-tertiary text-white hover:bg-tertiary hover:text-white;
  }
  .isActive {
    @apply bg-main;
  }
  .is-disable-btn {
    @apply cursor-default bg-secondary text-secondary hover:bg-secondary hover:text-secondary;
  }
  .is-active-FAQ {
    @apply transition-max_height duration-300 ease-in-out;
  }
  .header-menu__expanded {
    @apply absolute left-0 top-0 z-50 flex h-screen w-full animate-slideDown flex-col items-center justify-center gap-4 bg-main text-2xl font-medium text-white;
  }
}
